.all-bidded-projects-container {
  margin-left: 15%;
  display: flex;
  margin-top: 6%;
  padding: 0.5rem;
  padding-left: 7rem;
  flex-wrap: wrap;
  background-color: #161625;
  width: 100%;
}

.coder-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #161625;
  height: 100%;
  width: 100%;
}

.current-product-price {
  color: #ff5a6e;
  font-size: 1.2rem;
  float: left;
  padding: 1rem 0 0 0;
  font-weight: 900;
}
