.profile-editing {
  margin-left: 15%;
  margin-top: 5%;
  padding-left: 1rem;
  background: #161625;
}

.profile-editing-form {
  background-color: #eee;
  border: none;
  width: 50%;
  border-radius: 0.8rem;
}

.profile-editing-submit {
  border: none;
  background: #2cb8cb;
  font-family: "Varela Round";
  font-size: 1rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
}
