.upload-project {
  margin-left: 15%;
  margin-top: 5%;
  background: transparent;
  height: auto;
  width: 100%;
}

.project-upload-input {
  background-color: #eee;
  border: none;
  width: 50%;
  border-radius: 0.8rem;
}

.project-upload-textarea {
  width: 50%;
  border-radius: 0.8rem;
  padding: 1rem;
}

.upload-project-button {
  background-color: #2cb8cb;
  border-radius: 0.8rem;
  border: none;
  padding: 0.8rem;
  font-family: "Varela Round";
  color: white;
  font-weight: 900;
  font-size: 1rem;
  margin: 0.5rem;
}
